:root {
    --bg-color: #1c1a1a; 
    --second-bg-color: #151515;
    --text-color: white;
    --main-color: #04fffb;
    --secondary-color: #151515;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

.logo span {
    color: var(--main-color);
}

.container {
    margin-top: 10rem; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 2rem 0;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.profile img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    flex: 1 1 300px;
}

.profile-info {
    flex: 2 1 600px;
    padding: 1rem;
}

.profile-info h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--main-color);
}

.profile-info p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--text-color); 
}

.social-links {
    margin-top: 2rem;
    text-align: center;
}

.social-links a {
    margin: 0 1rem;
    color: var(--main-color);
    font-size: 2rem;
    transition: color 0.3s;
}

.social-links a:hover {
    color: var(--secondary-color);
}

@media (max-width: 768px) {
    .profile {
        flex-direction: column;
    }

    .profile-info {
        text-align: center;
    }
}

.footer {
    background-color: #1c1a1a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    font-size: 14px;
}
